# Documentation
HELP.md

# Maven 및 Gradle 빌드 파일 및 폴더 무시
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# 설정 파일 무시
*.yml

# IntelliJ IDEA 설정 파일
.idea/
*.iws
*.iml
*.ipr

# VS Code 설정 파일
.vscode/

# Java 컴파일된 파일 및 로그 파일
*.class
*.log