<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .main-menu-bar-tablet {
            --width-2: 80px
        }

        .main-menu-bar-tablet span {
            --height-1: 1px;
        }
    </style>
</head>
<body>
<section class="lg:d:none d:none md:d:block main-menu-bar-tablet w:2 bg-color:base-1 flex-shrink:0">
    <h1 class="d:none">메인메뉴바</h1>
    <ul class="d:flex fl-dir:column ai:center pt:5">
        <li><a class="" href=""><img src="/icon/home.svg" class="w:1" alt="홈"></a></li>
        <li class="mt:6"><a href=""><img src="/icon/user.svg" alt="마이"></a></li>
        <span class="mt:6 h:1 w:100p bg-color:base-3"></span>
        <li class="mt:6"><a class="icon icon:book-searchd icon-color:base-9 " href="/book/list">북검색</a></li>
        <li class="mt:6"><a class="icon icon:withd icon-color:base-9" href="/with/list">위드</a></li>
        <li class="mt:6"><a class="icon icon:book-shortd icon-color:base-9" href="/bookshorts/list">북쇼츠</a></li>
        <li class="mt:6"><a class="icon icon:book-logd icon-color:base-9" href="">북로그</a></li>
        <span class="mt:6 h:1 w:100p bg-color:base-3"></span>
        <li class="mt:6"><a class="icon icon:gear_six icon-color:base-9" href="">설정</a></li>
    </ul>
</section>

</body>

</html>