<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>위드북스</title>

    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/var.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="/css/util/background-color.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/util/border-color.css" />
    <link rel="stylesheet" type="text/css" href="/css/util/border-radius.css" />
    <link rel="stylesheet" type="text/css" href="/css/util/progress.css" />
    <link rel="stylesheet" type="text/css" href="/css/util/color.css" />
</head>
<body>
    <h1>사진 용량이 너무 커요!!!</h1>
</body>
</html>